
body {
    background-color: whitesmoke
border:purple;
}


dd {
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 90%;
}

li {
color: rgb(17, 17, 18);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 90%;
}

a:link{
    color:rgba(73, 107, 187, 0.702);
    text-decoration: none
   }

a:visited{
    color:red;
    text-decoration: none
}

a:hover{
    color:blue;
    text-decoration: none
}

a:active{
    color:blue;
    text-decoration: none
}

.back{
    text-decoration: underline;
}

.logo{  
    margin:0;
    margin-left:auto;
    margin-right:auto;
     display:block;
    height:300px; 
    width:200 px;
}

.happy{
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
    width: 50%;
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 15px;

max-width:fit-content

}
  


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#blink {
    text-align: center;
    margin-top:-240px;
    font-size: 24px;
    color: green;
    animation: blink 1s infinite; 
}
   
.bottomchange{background:linear-gradient(90deg,purple, 50px, white)
  

}

#happy-dad-logo{
   background:linear-gradient(90deg, purple, white);
  padding-left: 0%;
}




#head-photo{
transform: scale(0.47);
margin-top:-242px;
margin-left:-400px;
margin-right:300px;
display: block;
}


table {
    margin-left:auto;
    margin-right:auto;
}

th, td { 
border: width 3pxl;
border-style:solid;
padding:5pxls;

}

.sugar-text{
    color:purple;
}


.cans{transform:scale(0.40);
margin-left:-300px;
     }

     #calories-header{text-align:center;}

     /*adding black backround color to top of navigation*/
     
    .topnav{
        background-color:#333;
        overflow:hidden;
    }

    /* Style the links inside the navigation bar */

    .topnav a{
        float:left;
        color:#f2f2f2;
        text-align:center;
        padding:14px 16px;
        text-decoration:none;
        font-size:17px;
    }
        /* Change the color of links hover*/

        .topnav a:hover{
            background-color:#ddd;
            color:black;
        }

        /* Add a color to the active/current link */
        .topnav a.active{
           
            color:white;
        }

/*Button styling*/

.button{
    background-color:red;
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    border-radius:12px;
   
    
}

.button:hover{
    background-color:purple;

}